$verdeEscuro: #D9E8F5;
$verdeClaro: #304269;
$azul: #304269;
$laranja: #f26101;

.forms {
    align-self: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 50px;

    h3 {
        text-align: start;
        margin-bottom: 5%;
    }
}
span {
    margin-top: 30px;
}

.informacoes {
    width: 100%;

    .divisao {
        display: flex;
        width: 100%;
    }
}

.acoes {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

:host {
    ::ng-deep label {
        color: #1f4164;
    }

    ::ng-deep .p-inputtext,
    .p-password {
        border-radius: 10px;
        width: 100%;
    }
    ::ng-deep .p-inputtext.InputGrande {
        width: 100%;
        margin-right: 30px;
    }

    ::ng-deep .p-inputtext.InputMedio {
        width: 100%;
    }

    ::ng-deep .p-float-label {
        width: 100%;
        font-weight: 500;
    }
    ::ng-deep .p-float-label.direita {
        margin-left: 50px;
    }
    ::ng-deep .p-button {
        border-radius: 10px;
        color: #1f4164;
        font-weight: 500;
    }
    ::ng-deep .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label {
        font-size: 15px;
    }

    ::ng-deep .p-dialog-content {
        background: $verdeEscuro;
        color: $verdeClaro;
        border-radius: 0 0 20px 0;


    }
    ::ng-deep .p-dialog {
        border-radius: 10px;
    }
    ::ng-deep .p-dialog-header {
        background: $verdeEscuro;
        color: #353535;
        border-radius: 10px 0 0 0;
    }
    ::ng-deep .p-dialog-footer {
        text-align: center;
        background: $verdeEscuro;
        color: #353535;
        border-radius: 0 0 10px 10px;
    }
    ::ng-deep .p-button {
        background-color: transparent;
        border: 1px solid $verdeClaro;
        color: $azul;
        border-radius: 10px;
    }
    ::ng-deep .p-button:hover {
        background-color: transparent;
        margin-top: -1px;
        border: 1px solid $verdeClaro;
        color: $azul;
    }

    ::ng-deep .senha .p-button {
        background: transparent;
        border: 1px solid $azul;
        color: $azul;
    }
    ::ng-deep .alterarSenha .p-button {
        background: transparent;
        border: 1px solid $azul;
        color: $azul;
    }
    ::ng-deep .alterarSenha .p-button:hover {
        background: $azul;
        color: #fff;
    }
    ::ng-deep .senha .p-button:hover {
        margin-top: -1px;
    }
    ::ng-deep .p-dialog-header-close-icon {
        color: #353535;
    }
}

.modalCertificados {
    border: 1px solid $verdeClaro;
    border-radius: 10px;
    padding: 10px;
    color: $verdeClaro;
}

.btn-outline-dark{
    border: 1px solid $verdeClaro;
    color: $verdeClaro;
}
.btn-outline-dark:hover{
    background: $verdeClaro;
    color: #fff;
}

@media (max-width: 575.98px) {
    .forms {
        margin-left: 20%;
    }
    .informacoes {
        width: 80%;
        .divisao {
            display: block;
        }
    }
    .acoes {
        display: block;
        .senha {
            width: 100%;
            text-align: center;
        }
        .certificados {
            width: 100%;
            text-align: center;
        }
    }
    :host {
        ::ng-deep .p-float-label.direita {
            margin-left: 0px;
        }
        ::ng-deep .p-button {
            width: 100%;
            margin-top: 20px;
        }
    }
}
