<div class="forms">
    <h3>Perfil</h3>
    <div class="informacoes">
        <span class="p-float-label">
            <input type="text" id="nome" pInputText [(ngModel)]="nome" class="InputGrande" autocomplete="name" />
            <label for="nome">Nome completo</label>
        </span>

        <div class="divisao">
            <span class="p-float-label">
                <p-inputMask inputId="cpf" mask="999.999.999-99" [(ngModel)]="cpf" class="InputMedio"
                    autocomplete="cpf"></p-inputMask>
                <label for="cpf">CPF</label>
            </span>
            <span class="p-float-label direita">
                <p-inputMask inputId="dtNascimento" mask="99/99/9999" [(ngModel)]="dataNacimento" class="InputMedio"
                    autocomplete="dataNacimento"></p-inputMask>
                <label for="dtNascimento">Data de nascimento</label>
            </span>
        </div>
        <span class="p-float-label">
            <input type="email" id="email" pInputText [(ngModel)]="email" class="InputGrande" autocomplete="email" />
            <label for="email">E-mail</label>
        </span>

        <div class="divisao">
            <span class="p-float-label">
                <p-inputMask inputId="telefone" mask="(99) 9 9999-9999" [(ngModel)]="telefone" class="InputMedio">
                </p-inputMask>
                <label for="telefone">Telefone</label>
            </span>
            <span class="p-float-label direita">
                <p-inputMask inputId="telefone" mask="(99) 9 9999-9999" [(ngModel)]="telefoneAdicional"
                    class="InputMedio"></p-inputMask>
                <label for="telefone">Telefone adicional</label>
            </span>
        </div>
        <span class="p-float-label">
            <input type="text" id="cargo" pInputText [(ngModel)]="cargo" class="InputGrande" />
            <label for="cargo">Cargo</label>
        </span>
    </div>
    <div class="acoes">
        <div class="senha col-md-6">
            <p-button label="Alterar senha" class="senha"></p-button>
        </div>
        <div class="certificados  col-md-6">
            <p-button label="Ver certificados" (click)="showModalCertificados()" class="certificados"></p-button>
        </div>
        
        <p-dialog header="Header" [(visible)]="ModalCertificados" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ng-template pTemplate="footer">
                <p-button (click)="ModalCertificados=false" label="No" styleClass="p-button-text"></p-button>
                <p-button (click)="ModalCertificados=false" label="Yes" styleClass="p-button-text"></p-button>
                </ng-template>
        </p-dialog>
    </div>
</div>