<div class="forms">
    <h3>Perfil</h3>
    <div class="informacoes">
        <span class="p-float-label">
            <input type="text" id="nome" pInputText [(ngModel)]="nome" class="InputGrande" autocomplete="name"
                disabled />
            <label for="nome">Nome completo</label>
        </span>

        <div class="divisao">
            <span class="p-float-label">
                <p-inputMask inputId="cpf" mask="999.999.999-99" [(ngModel)]="cpf" [disabled]="true" class="InputMedio"
                    autocomplete="cpf"></p-inputMask>
                <label for="cpf">CPF</label>
            </span>
            <span class="p-float-label direita">
                <p-inputMask inputId="dtNascimento" [disabled]="true" mask="99/99/9999" [(ngModel)]="dataNacimento"
                    class="InputMedio" autocomplete="dataNacimento"></p-inputMask>
                <label for="dtNascimento">Data de nascimento</label>
            </span>
        </div>
        <span class="p-float-label">
            <input type="email" id="email" pInputText [(ngModel)]="email" class="InputGrande" autocomplete="email"
                disabled />
            <label for="email">E-mail</label>
        </span>

        <div class="divisao">
            <span class="p-float-label">
                <p-inputMask inputId="telefone" [disabled]="true" mask="(99) 9 9999-9999" [(ngModel)]="telefone"
                    class="InputMedio">
                </p-inputMask>
                <label for="telefone">Telefone</label>
            </span>
            <span class="p-float-label direita">
                <p-inputMask inputId="telefone" [disabled]="true" mask="(99) 9 9999-9999"
                    [(ngModel)]="telefoneAdicional" class="InputMedio"></p-inputMask>
                <label for="telefone">Telefone adicional</label>
            </span>
        </div>
        <span class="p-float-label">
            <input type="text" id="cargo" pInputText [(ngModel)]="cargo" class="InputGrande" disabled />
            <label for="cargo">Cargo</label>
        </span>
    </div>
    <div class="acoes">
        <div class="senha col-md-6">
            <p-button label="Alterar senha" (onClick)="showModalSenha()" class="senha"></p-button>
        </div>

        <div class="certificados  col-md-6">
            <p-button label="Ver certificados" (click)="showModalCertificados()" class="certificados"></p-button>
        </div>

    </div>
</div>

<p-dialog header="Certificados" [(visible)]="ModalCertificados" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="modalCertificados row">
        <div class="col">
            <p>
                Nome do curso:
            </p>
            <p>
                Descrição:
            </p>
            <p>
                Inicio:
            </p>
            <p>
                Término:
            </p>
        </div>
        <div class="col" style="text-align: end;">
            <div>
                <img src="../../../assets/ImagemCurso.png" style="border-radius: 10px;" alt="">
            </div>

            <div style="padding: 10px;">

                <a href="../../../assets/Emissões testes - Presencial.pdf" download class="btn btn-outline-dark">
                    Baixar o certificado
                    <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.29289 9.70711L11.2929 14.7071L12 15.4142L12.7071 14.7071L17.7071 9.70711L16.2929 8.29289L13 11.5858V4H18C19.1046 4 20 4.89543 20 6V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V6C4 4.89543 4.89543 4 6 4H11L11 11.5858L7.70711 8.29289L6.29289 9.70711Z"
                            fill="currentColor" />
                    </svg>
                </a>

            </div>
        </div>

    </div>


</p-dialog>


<p-dialog header="Alterar senha" [(visible)]="ModalSenha" [breakpoints]="{'460px': '75vw'}" [style]="{width: '280px'}"
    [draggable]="false" [resizable]="false">

    <div class="ModalSenha row">
        <div class="col" aria-autocomplete="none">

            <span class="p-float-label">
                <input type="password" id="senhaAntiga" pInputText [(ngModel)]="senhaAntiga" />
                <label for="senhaAntiga">Senha Antiga</label>
            </span>
            <span class="p-float-label">
                <p-password id="senhaNova" [(ngModel)]="senhaNova" aria-autocomplete="none" minlength="6">

                </p-password>
                <label for="senhaNova">Senha Nova</label>
            </span>
            <span class="p-float-label">
                <input type="password" id="senhaNovaConfirmar" pInputText [(ngModel)]="senhaNovaConfirmar"
                    minlength="6" />
                <label for="senhaNovaConfirmar">Confirmar senha</label>
            </span>
            <div style="margin-top: 20px; text-align: center;">


                <p-button icon="pi pi-check" label="Alterar senha" class="alterarSenha">
                </p-button>
            </div>
        </div>
    </div>
</p-dialog>