.superior {
  margin-top: 50px;
  width: 100%;
}

.progresso {
  text-align: right;


}

.ensino {
  width: 80%;
  margin-left: 80px;
  padding-top: 20px;
  margin: 0 auto;
}
:host {
  ::ng-deep .progresso svg {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991.98px) {
  .superior {
    width: 100%;


  }
  .ensino {
    width: 60%;
  }
}

@media (max-width: 575.98px) {
  .superior {
    position: relative;
    .voltar {
      margin: 0 auto;
    }
    .progresso {
      display: none;
    }
  }
}
