<div class="superior">
    <div class="row">
        <div class="col-2 voltar">
            <a href="" class="btn btn-outline-dark">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 18.9282C9.21615 19.6303 10.5957 20 12 20C13.4043 20 14.7838 19.6303 16 18.9282C17.2162 18.2261 18.2261 17.2162 18.9282 16C19.6303 14.7838 20 13.4043 20 12C20 10.5957 19.6303 9.21615 18.9282 8C18.2261 6.78385 17.2162 5.77394 16 5.0718C14.7838 4.36965 13.4043 4 12 4C10.5957 4 9.21615 4.36965 8 5.0718"
                        stroke="currentColor" stroke-width="2" />
                    <path
                        d="M2 12L1.21913 11.3753L0.719375 12L1.21913 12.6247L2 12ZM11 13C11.5523 13 12 12.5523 12 12C12 11.4477 11.5523 11 11 11V13ZM5.21913 6.3753L1.21913 11.3753L2.78087 12.6247L6.78087 7.6247L5.21913 6.3753ZM1.21913 12.6247L5.21913 17.6247L6.78087 16.3753L2.78087 11.3753L1.21913 12.6247ZM2 13H11V11H2V13Z"
                        fill="currentColor" />
                </svg>
                Voltar
            </a>
        </div>
        <div class="col-10 progresso">
            <circle-progress [percent]="10" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300"></circle-progress>
        </div>
    </div>
</div>
<div class="ensino">
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
    <p>
        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
        that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which
        is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to
        distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able
        to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances
        and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to
        be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of
        selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse
        pains."
    </p>
</div>