<div class="superior">
    <div class="row">
        <div class="col-2 voltar">
            <a href="" class="btn btn-outline-dark">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 18.9282C9.21615 19.6303 10.5957 20 12 20C13.4043 20 14.7838 19.6303 16 18.9282C17.2162 18.2261 18.2261 17.2162 18.9282 16C19.6303 14.7838 20 13.4043 20 12C20 10.5957 19.6303 9.21615 18.9282 8C18.2261 6.78385 17.2162 5.77394 16 5.0718C14.7838 4.36965 13.4043 4 12 4C10.5957 4 9.21615 4.36965 8 5.0718"
                        stroke="currentColor" stroke-width="2" />
                    <path
                        d="M2 12L1.21913 11.3753L0.719375 12L1.21913 12.6247L2 12ZM11 13C11.5523 13 12 12.5523 12 12C12 11.4477 11.5523 11 11 11V13ZM5.21913 6.3753L1.21913 11.3753L2.78087 12.6247L6.78087 7.6247L5.21913 6.3753ZM1.21913 12.6247L5.21913 17.6247L6.78087 16.3753L2.78087 11.3753L1.21913 12.6247ZM2 13H11V11H2V13Z"
                        fill="currentColor" />
                </svg>
                Voltar
            </a>
        </div>

    </div>
</div>
<div class="ensino">
    <h2>
        Chatguru
    </h2>
    <p>
        Chatguru é um sistema de gerenciamento de WhatsApp. Com ele é possível fazer o uso de 1 número de WhatsApp com
        vários usuários. Assim, uma empresa pode gerenciar melhor o atendimento. Vamos aprender um pouco de como
        funciona e como usar no vídeo seguinte:
    </p>


    <iframe src="https://www.youtube-nocookie.com/embed/7TJail7pCNY" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>
    <h3>
        Como adicionar um chat
    </h3>
    <p>
        Após essa apresentação, entendemos um pouco sobre o sistema. Mas vamos aos módulos separados para entender
        melhor, primeiro vamos ver como adicionar um chat!
    </p>

    <iframe src="https://www.youtube-nocookie.com/embed/6BW0Lddl9_Y" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>

    <h3>Anexar arquivo</h3>
    <p>Muitas vezes nos nossos atendimentos, precisamos enviar arquivos. Por isso o sistema possui a facilidade de
        anexar um arquivo que já foi inserido anteriormente. </p>
    <iframe src="https://www.youtube-nocookie.com/embed/-v5HKhv3WYE" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>

    <h3>
        Filtros e pequisa de chats
    </h3>
    <p>
        Com uma grande quantidade de atendimento, fica impossível procurar um chat sem um filtro né? Por isso
    </p>

    <iframe src="https://www.youtube-nocookie.com/embed/z68El8JyLq0" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>

    <h3>Como agendar uma mensagem</h3>
    <p>Com a correria do dia-a-dia esquecemos de mandar uma mensagme na hora. Por isso temos a opção de agendar uma
        mensagem, vamos aprender como realizar esse processo. </p>
    <iframe src="https://www.youtube-nocookie.com/embed/z5rfZtgRNiA" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <h3>Respostas rápidas</h3>
    <p>
        Um auxilio na hora de falar com o cliente, quando se tem uma mensagem que é muito grande e pode ser mandada para
        resolver alguma dúvida, é recomendado que seja criado uma resposta rápida.
    </p>
    <iframe src="https://www.youtube-nocookie.com/embed/H4CZoX0I0bw" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <h3>
        Finalizar atendimento
    </h3>
    <p>
        Após o seu agil atendimento com o cliente, é importante finalizar o chat para que o cliente/parceiro possa nos
        avaliar, e assim possamos melhorar nosso atendimento.
    </p>

    <iframe src="https://www.youtube-nocookie.com/embed/Fy-HNGcsCIw" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>

    <h3>
        Apresentação final
    </h3>
    <p>
        Agora para finalizar esse treinamento, vamos ver tudo o que aprendemos por completo.
    </p>
    <iframe src="https://www.youtube-nocookie.com/embed/74WoWkBxEwQ" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <p class="celular"><small>Recomendamos que assista em tela cheia do celular.</small></p>
    <div class="finalizar">
        <a class="btn btn-outline-success" (click)="showModalFinalizarCurso()">Finalizar</a>
    </div>
</div>
<a
   >
    Avaliação anual </a>

<p-dialog header="Certificados" [(visible)]="FinalizarCurso" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="FinalizarCurso row">
        <div class="col-7" >
            <p>
                Nome do curso: {{NomeCurso}}
            </p>
            <p>
                Descrição: {{DescricaoCurso}}
            </p>
            <p>
                Inicio: {{dtInicio}}
            </p>
            <p>
                Término: {{dtTermino}}
            </p>
        </div>
        <div class="col-5" style="text-align: end;">
            <div>
                <img src="../../../assets/ImagemCurso.png" style="border-radius: 10px;" alt="">
            </div>

        </div>
    </div>
    <p>
        Agora que você acabou, para que possa receber o seu certificado de conclusão, será necessário realizar uma
        avaliação. Deseja fazer agora?
    </p>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-outline-dark" (click)="FinalizarCurso=false">
                Revisar o curso

                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 19L9.29289 18.2929L8.58579 19L9.29289 19.7071L10 19ZM13.2929 14.2929L9.29289 18.2929L10.7071 19.7071L14.7071 15.7071L13.2929 14.2929ZM9.29289 19.7071L13.2929 23.7071L14.7071 22.2929L10.7071 18.2929L9.29289 19.7071Z"
                        fill="currentColor" />
                    <path
                        d="M5.93782 15.5C5.16735 14.1655 4.85875 12.6141 5.05989 11.0863C5.26102 9.55856 5.96064 8.13986 7.05025 7.05025C8.13986 5.96064 9.55856 5.26102 11.0863 5.05989C12.6141 4.85875 14.1655 5.16735 15.5 5.93782C16.8345 6.70829 17.8775 7.89757 18.4672 9.32122C19.0568 10.7449 19.1603 12.3233 18.7615 13.8117C18.3627 15.3002 17.4838 16.6154 16.2613 17.5535C15.0388 18.4915 13.5409 19 12 19"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>

            </button>
        </div>
        <div class="col-6" style="text-align: end;">
            <a  href="javascript:void( window.open( 'https://form.jotform.com/felipe.bueno/avanliacaoanualagr', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) " class="btn btn-outline-dark">
                Fazer a prova

                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 2C13.4992 2 14.7004 2 15.6773 2.07361C15.5629 2.3601 15.5 2.6727 15.5 3V3.5H15C13.6193 3.5 12.5 4.61929 12.5 6C12.5 7.38071 13.6193 8.5 15 8.5H15.5V9C15.5 10.3807 16.6193 11.5 18 11.5C18.8178 11.5 19.5439 11.1073 20 10.5002V14C20 17.7712 20 19.6569 18.8284 20.8284C17.6569 22 15.7712 22 12 22C8.22876 22 6.34315 22 5.17157 20.8284C4 19.6569 4 17.7712 4 14V10C4 6.22876 4 4.34315 5.17157 3.17157C6.34315 2 8.22876 2 12 2ZM8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H12C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11H8ZM8 14C7.44772 14 7 14.4477 7 15C7 15.5523 7.44772 16 8 16H14C14.5523 16 15 15.5523 15 15C15 14.4477 14.5523 14 14 14H8ZM8 17C7.44772 17 7 17.4477 7 18C7 18.5523 7.44772 19 8 19H12C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17H8Z"
                        fill="currentColor" />
                    <path d="M18 3L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    <path d="M21 6L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
            </a>
        </div>
    </div>

</p-dialog>