<nav class="main-menu">
    <ul>
        <div class="superior">
            <i class="bi bi-list btn btn-outline-light icone"></i>
            <li class="logo">
                <a href="">
                    <img src="../../../assets/LOGO-BRANCA.png" width="100%" alt="logo">
                </a>
            </li>
        </div>
        <li>
            <a routerLink="home" class="item-menu" routerLinkActive="active">
                <i class="bi bi-house-fill btn btn-outline-light"></i>
                Home
            </a>
        </li>
        <li class="has-subnav">
            <a routerLink="perfil" class="item-menu" routerLinkActive="active">
                <i class="bi bi-person-fill btn btn-outline-light"></i>
                Perfil
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="bi bi-box-arrow-right btn btn-outline-light"></i>
                sair
            </a>
        </li>
    </ul>
</nav>