<div class="rodape">
    <div class="container">
        <div class="logo col">
            <a href=""> <img src="../../../assets/LOGO-AZUL.png" width="100" alt=""></a>
           
        </div>
        <div class="icons col">
            <a href=""> <i class="bi bi-instagram" ></i></a>
            <a href=""> <i class="bi bi-facebook"></i></a>
            <a href=""> <i class="bi bi-linkedin"></i></a>
        </div>

        <div class="copy col">
            © Copyright - Todos os direitos reservados
        </div>
       
    </div>
</div>