<p-toast></p-toast>
<div class="geral">
    <h3>
        Bem vindo à area de cursos
    </h3>

    <div class="progresso">
        <p> Olá {{nomeCliente}}, este é seu progresso! </p>
        <br><br>
        <p-progressBar [value]="value"></p-progressBar>
    </div>

    <div class="cursos">

        <div class="curso">
            <a routerLink="chatguru" style="text-decoration: none;">
                <div class="imagem">
                    <img src="../../../assets/ImagemCurso.png" alt="">
                </div>
                <div class="nomeDoCurso">
                    {{nomeCurso}}
                </div>
            </a>
        </div>

    </div>

</div>